:root{
	--white: #ddd;
	--lgray: #888;
	--gray: #2F3136;
	--dgray: #202225;
	--blue: #19b3da;
}

body{
	color: var(--white);
	font-family: sans-serif;
	background: var(--dgray);
}

content{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

fieldset{
	margin-top: 12px;
	border: 1px solid var(--blue);
	padding: 12px;
	border-radius: 8px;
}

legend{
	margin-bottom:0;
	margin-left:16px;
	color: var(--blue);
	font-style: italic;
	padding-left: 8px;
	padding-right: 8px;
}

.Angle{
	grid-column-start: 1;
	grid-column-end: 3;
}

.Factor{
	align-content: center;
	display: flex;
	grid-column-start: 1;
	grid-column-end: 3;
}

button{
	margin: 0 20px 0 0;
	height: 30px;
	width: 100px;
}

/* Slider */
#range{
	width: 100%;
}
input[type=range]::-webkit-slider-runnable-track{
	height: 5px;
	cursor: pointer;
	background: var(--blue);
	border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb{
	cursor: pointer;
	margin-top: -6px;
}
.range-wrap{

	padding: 12px 0 0 0;
	position: relative;
}
.range-value{
	position: absolute;
	top: -9px;
	width: 30px;
	height: 22px;
	line-height: 24px;
	text-align: center;
	background: var(--blue);
	color: var(--white);
	font-size: 14px;
	transform: translate(-50%, 0);
	border-radius: 8px;
}









